.home-page {
    height: 100vh;
  }
  
  
    .home-page header {
        background-image: url('../Assets/exotic-delicious-pomegranate-white-background.jpg');
      }
      

      .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        }
      
